@import url("https://fonts.googleapis.com/css?family=Schoolbell&display=swap");

body {
	margin: 0;
	padding: 0;
	font-family: "Schoolbell", cursive;
}

header {
  text-align: center;
  padding: 2em;
}
.nav-menu{
float: right;
margin: 0;
height: 35px;
width: 35px;
}

h1 {
	font-size: 60px;
	line-height: 0px;
}

h2 {
	font-size: 24px;
  line-height: 33px;
  
}
section{
  height: 100%;
  width: 100%;

}
p:nth-child(1){
  position: absolute;
  top: 22%;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
}
p:nth-child(2){
  width: 80%;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%);
  text-align: center
}

p:nth-child(3){
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
}

p:nth-child(4){
  width: 20%;
  position: absolute;
  top: 66%;
  left: 50%;
  transform: translate(-50%);
  text-align: center
}

#start-game{
  display: block;
  font-size: 30px;
  position: absolute;
  top: 77%;
  left: 50%;
  transform: translateX(-50%);
  text-decoration: none;  
}
#start-game:active{
  color: crimson;
}

