@import url("https://fonts.googleapis.com/css?family=Schoolbell&display=swap");
body {
  margin: 0;
  padding: 2em;
  font-family: "Schoolbell", cursive;
  background-color: #ffda16;
  font-size: 16px;
}
header {
  text-align: left;
}
.nav-menu {
  position: fixed;
  top: 1em;
  right: 1em;
  height: 30px;
  width: 30px;
}
h1 {
  font-size: 3rem;

  width: 73px;
  height: 46px;
  left: 3%;
  top: 50%;
}

h2 {
  font-size: 2rem;
}

main {
  text-align: center;
  height: 100%;
  width: 100%;
}

#new-game {
  display: flex;
  justify-content: center;
  align-items: center;
}

#new-game svg {
  margin-right: 1em;
}

a:visited {
  color: black;
}

#type {
  text-align: right;
}

#name {
  text-align: center;
}

#instructions {
  border: solid;
  padding: 1rem;
  text-align: center;
}

#instructions h2 {
  margin: 0;
}

#instructions p {
  text-align: left;
}

#buttons {
  margin-top: 1em;
  text-align: center;
}

button {
  font-family: "Schoolbell";
  font-size: 1.5em;
  text-decoration: underline;
  background: none;
  outline: 0;
  border: none;
}

button:hover {
  transform: scale(1.1);
}

#timer {
  display: none;
  top: 100%;
}

#countdown {
  display: none;
  height: 60vh;
}

#success {
  display: none;
}

#start-button {
  margin-top: 80px;
}

header img:hover {
  transform: scale(1.1);
}
